<ion-view title="Battery Tab Default Page" id="page4">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Battery Level" ng-model="tval" ng-change="updateBattery(tval)">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Oil Level" ng-model="oval" ng-change="updateOil(oval)">
            </label>
        </form>
    </ion-content>
</ion-view>