<ion-view title="Location" id="page3">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-radio ng-model="location_choice" ng-value="'Home'" ng-change="updateLocation(location_choice)">Home</ion-radio>
            <ion-radio ng-model="location_choice" ng-value="'Work'" ng-change="updateLocation(location_choice)">Work</ion-radio>
            <ion-radio ng-model="location_choice" ng-value="'School'" ng-change="updateLocation(location_choice)">School</ion-radio>

            <ion-list>
                <div class="item item-divider">
                    Weather
                </div>
                <ion-radio ng-model="choice" ng-value="'Sunny'" ng-change="updateWeather(choice)">Sunny</ion-radio>
                <ion-radio ng-model="choice" ng-value="'Rainy'" ng-change="updateWeather(choice)">Rainy</ion-radio>
                <ion-radio ng-model="choice" ng-value="'Foggy'" ng-change="updateWeather(choice)">Foggy</ion-radio>
                <ion-radio ng-model="choice" ng-value="'Snowy'" ng-change="updateWeather(choice)">Snowy</ion-radio>
                <div class="item item-divider">
                    Time (hour of day)
                </div>
                <div class="item range range-positive">
                    <i class="icon ion-clock"></i>
                    <button class="button button-icon icon time-button ion-minus" ng-click="qty_time.qty = qty_time.qty - 300"></button>
                    <input type="range" min="0" max="86400" ng-model="qty_time.qty" />
                    <button class="button button-icon icon time-button ion-plus" ng-click="qty_time.qty = qty_time.qty + 300"></button>
                    <p> {{ getHour()
                        < 10 ? '0' + getHour() : getHour() }}:{{ getMinute() < 10 ? '0' + getMinute() : getMinute() }}</p>
                </div>
                <button class="button button-block button-positive" ng-click="qty_time.qty = None;">
                    Use current time
                </button>
                <div class="item item-divider">
                    Use Cases
                </div>
                <ion-radio ng-model="usecase" ng-value="17.3 * 3600" ng-change="updateUseCase('time', 17.3 * 3600)">(1) Time to leave - 30 mins</ion-radio>
                <ion-radio ng-model="usecase" ng-value="18 * 3600" ng-change="updateUseCase('time', 18 * 3600)">(1) Time to leave - soon!</ion-radio>
                <ion-radio ng-model="usecase" ng-value="19.5 * 3600" ng-change="updateUseCase('battery', 100);">(2) Enough battery</ion-radio>
                <ion-radio ng-model="usecase" ng-value="12.5 * 3600" ng-change="updateUseCase('battery', 8);">(2) NOT enough battery</ion-radio>
                <div class="item item-divider">
                    LED Mode
                </div>
                <ion-radio ng-model="LED_mode" ng-value="0" ng-change="updateLED_mode(0)">Off</ion-radio>
                <ion-radio ng-model="LED_mode" ng-value="1" ng-change="updateLED_mode(1)">Light growing together</ion-radio>
                <ion-radio ng-model="LED_mode" ng-value="2" ng-change="updateLED_mode(2)">Light growing</ion-radio>
                <ion-radio ng-model="LED_mode" ng-value="3" ng-change="updateLED_mode(3)">Light shrinking</ion-radio>
                <ion-radio ng-model="LED_mode" ng-value="4" ng-change="updateLED_mode(4)">Sparkling</ion-radio>
            </ion-list>
        </form>
    </ion-content>
</ion-view>